@import './element-ui.scss';
@import './element_variable.scss';
@import './variable.scss';
@import './mixin.scss';
@import './common.scss';
@import './transition.scss';
@import './BJ.scss';
html, body , #app, .home {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #ccc;

}




