/* fade */
// enter-active && leave-active 进入离开时过渡
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}
// enter 进入前过渡
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
// 整个进入过渡 发生时间
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
// leave-to 离开过渡结束状态
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}